*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main2{
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
    text-decoration: underline;
}
.inputs{
    margin-top: 50px;
    position: absolute;left: 450px;
}
.inputs input{
    width: 400px;

}
.inputs input:focus {
    box-shadow: 0 0 5px 2px yellow;
    border-color: yellow; 
}
.btn2{
    margin-left: 85px;
    outline: none;
    width: 218.73px;
    height: 50.78px;
    color: #fff;
    background-color: #FCC822;
    border: 1px solid #fff;
    transition: 1s;
    transform: translateY(20px)
}
.inputs .btn2:hover{
    color: #FCC822;
    background-color: #fff;
    border: 1px solid #FCC822;
    transition: 1s;
    transform: translateY(20px)
}
#error{
    text-align: center;
    color: red;
}

